header{
    height: 80px;
    background-color: var(--color-bg-secondary);
    color: var(--color-font-secondary);
    display: flex;
    align-items: center;
}

.site-name{
    font-size: 20px;
}

.header-content-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
}

.menu-item{
    margin-right: 20px;
}

.menu-active{
    font-weight: 700;
}